:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --carbon: hsl(0, 0%, 10%);
    --white: hsl(0, 0%, 95%);
    --side: calc((100vw - 1000px)/4);
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100%;
    margin: 0;
}

.main {
    display: grid;
    grid-template: auto 1fr 1fr / 1fr 1fr ;
    grid-template-areas: 
    'title board'
    'score board'
    'modal board';
    background-color: var(--carbon);
    border-radius: 1vw;
    padding: 7vh var(--side);
    margin: 7vh var(--side);
}

h1 {
    color: var(--white);
    grid-area: title;
    text-align: center;  
    font-size: 2.5rem; 
}

.grid-container {
    display: grid;
    grid-template: repeat(20, 30px) / repeat(12, 30px);
    grid-area: board;
    border: 1px solid black;
    justify-self: center;
    align-self: baseline;
}

.border {
    background-color: black;
}

.field {
    border: 1px solid black;
}

.score-container {
    grid-area: score;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2,
.score {
    font-size: 2rem;
    font-weight: bold;
    color: var(--white)
}

.green {
    background-color: hsl(120, 100%, 70%);
}

.blue {
    background-color: hsl(240, 100%, 70%);
}

.red {
    background-color: hsl(300, 100%, 70%);
}

.purple {
    background-color: hsl(120, 100%, 30%);
}

.orange {
    background-color: hsl(240, 100%, 30%);
}

.pink {
    background-color: hsl(300, 100%, 30%);
}
